@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Nextstep;
  src: url("./fonts/NEXTSTEP.otf");
}
.input {
    all: unset;
    width: 100%;
    padding: 1rem;
    border: 1px solid #9e9e9e;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
    box-sizing: border-box;
    box-shadow: 0 3px 10px;
    box-shadow: #13668a75 1.95px 1.95px 2.6px;
    border-radius: 0.75rem;
}

.input:focus {
    border: 1px solid #13678A;
}



.input:is(:focus, :valid)~label {
    transform: translateY(-120%) scale(0.7);
    background-color: #cbf7ff;
    padding-inline: .3rem;
    color: #13678A;
}